<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
</head>
<body>

<div class="p-4 mb-5" style="background-color: #FF7518;"></div>
<form method="POST" id="myForm">{% csrf_token %}  
    <div class="text-center mb-5 display-1">     
    <div style="color: #FF7518">Boleta</div>
    </div> 
            <div class="container-fluid">
                <div class="row">
                <div class="col-2"></div>
                <div class="col-lg-8">
                <table class="table" id="mi-tabla">
                    <thead class="" style="color: #FF7518">
                        <tr>
                            <th>Rut Cliente:</th>
                            <td>{{rutcliente}}</td>
                            <th>Codigo del producto</th>
                            <td><input type="number" name="codigo" class="form-control" placeholder="Ingrese el Codigo" style="width: 12rem;"></td>
                            <td><input type="number" name="cantidad" class="form-control" placeholder="Cantidad" value="1" style="width: 6rem;"></td>
                            <td><button type="submit" class="btn btn-primary" style="background-color: #3cb305">Agregar</button></td>
                        </tr>
                    </thead>                           
                    <thead style="color: #FF7518">
                        <tr>
                            <th class="text-center" colspan="6"><p class="h2">Numero de Boleta: {{numeroboleta}}</p></th>
                        </tr>  
                    </thead>
                    <thead style="color: #FF7518">
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>  
                    <tbody>
                        {% for d in detalle_venta %}
                          {% for p in producto %}
                            {% if d.cod_producto_id_id == p.cod_producto %}
                            <form method="POST">{% csrf_token %} 
                              <tr>
                                <td>{{p.cod_producto}}<input type="number" name="producto" value="{{p.cod_producto}}" hidden></td>
                                <td>{{p.nombre}}</td>
                                <td>$ {{p.precio}}</td>
                                <td><input type="number" name="cambiarcantidad" class="form-control" value="{{d.cantidad}}" min="1" onchange="submit()"></td>
                                {% for t in total_producto %}
                                  {% if t.cod_dventa == d.cod_dventa %}
                                    <td>{{ t.total }}</td>
                                  {% endif %}    
                                {% endfor %}
                                <td><a href="/eliminar/{{d.cod_dventa}}" type="button" class="btn btn-danger bi bi-trash3">Eliminar</a></td>
                              </tr>
                            </form>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      </tbody>
                </table>
                <div class="boton enviar">
                <input type="submit" class="btn btn-primary" value="Generar PDF"style="background-color: #3cb305" onclick="generarPDF(event)"></input>
                </div>
                </div>
                <div class="col-2"></div>
                </div>
            </div>    
</form>

<div class="text-center">
    {% if error_message %}
      <p id="error-message" class="text-danger">{{ error_message }}</p>
    {% endif %}
  </div>

<script>
    // Obtener el elemento del mensaje de error
    const errorMessage = document.getElementById('error-message');
  
    // Verificar si el mensaje de error está presente
    if (errorMessage) {
      // Mostrar el mensaje de error durante 3 segundos
      setTimeout(() => {
        errorMessage.style.display = 'none';
      }, 3000);
    }
    
    function generarPDF(event) {
            const doc = new jsPDF();
            const tabla = document.getElementById('mi-tabla');

            doc.autoTable({ html: tabla });

            doc.save('tabla.pdf');
    }

</script>
</body>
</html>
